a:link    {color:green; background-color:transparent; text-decoration:none}
a:visited {color: grey; background-color:transparent; text-decoration:none}
a:hover   {color:#CC3333; background-color:transparent;  font-weight: bold; text-decoration:none}
a:active  {color:yellow; background-color:transparent; text-decoration:underline}
body {
	text-align: center;
}
h1 {
	font-family: 'Raleway', sans-serif;
	/*color:#6699CC;*/
	font-weight: normal;
}
p {
	font-family: 'Fira Sans', sans-serif;
	color:#383838;
	font-weight: 300;
}
.container {
	width: 50%;
	margin-left: auto;
    margin-right: auto;
    height: 100%;
	/*border:1px solid #cccccc;*/
}
.container_contents {
	/*border:1px solid #cccccc;*/
	/*position: relative;*/
	margin-top: 10%;
}
hr {
	position: absolute;
	width: 50%;
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, .75), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
hr.top {
    top: 40%;
}
hr.bottom {
    top: 58%;
}
.circle {
	margin-top: 50%;
	display: inline-block;
	vertical-align: middle;
	height: 100px;
	width: 100px;
	margin-right: 25px;
	border: 3px solid;
	border-radius: 50px;
	opacity: 0.8;
}
/* for the fontawesome icons */
.icon {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	/*border-radius: 50px;*/
	transition: opacity 0.5s;
}
.icon:hover {
	opacity: 0;
	transition: opacity 0.2s;
}
.projects_circle:hover {
	background-image: url("imgs/main_projects.jpg");
	opacity: 1;
	background-size: 400%;
}
.aboutme_circle:hover {
	background-image: url("imgs/main_aboutme.jpg");
	opacity: 1;
	background-size: 110%;
}
.art_circle:hover {
	background-image: url("imgs/main_art.jpg");
	opacity: 1;
	background-size: 100%;
}

/* For the transition */
.AnimateFast {
	margin-top: 2%;
	marginRight: 28px;
	height: 70px;
	width: 70px;
	borderRadius: 35px;
	transition: all 0.8s ease;
}
.AnimateSlow {
	margin-top: 2%;
	marginRight: 28px;
	height: 70px;
	width: 70px;
	borderRadius: 35px;
	transition: all 1s ease;
}
/* For lists */
ul.a {
	list-style: none inside none;
	font-family: 'Fira Sans', sans-serif;
	color:#383838;
	font-weight: 300;
}


